@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	<div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>
</div>
@section Scripts{
	<script>
		$(document).ready(function () {
			fbEnsureInit(function () {				
				console.log("this will be run once FB is initialized");
				window.FB.getLoginStatus(function (response) {
					console.log(response);
					
				});
			});
		});
	</script>


}
